# Project exclude paths
/.gradle/
/lekcja01/build/
/lekcja01/build/classes/java/main/
/lekcja06/build/
/lekcja06/src/test/java/filtertest/
/lekcja06/src/main/java/com/example/rest/filtertest/
/lekcja06/src/test/java/com/example/rest/filtertest/
